# ignore files ending with ~
*~
# ignore everything in the bin folder
bin/*
# ignore eclipse metadata folder
.metadata/
# ignore eclipse project specific files
.classpath
# ignore dropbox meta file, if any
.dropbox
